{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
    <h1>Modifier le produit</h1>

    {{ include('products/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
